samples/flow-jarvis.json
[
    {
        "id": "e18d07da.37f768",
        "type": "tab",
        "label": "Server",
        "disabled": false,
        "info": ""
    },
    {
        "id": "16b15426.58db74",
        "type": "subflow",
        "name": "Hangout",
        "info": "send hangout message",
        "in": [
            {
                "x": 60,
                "y": 100,
                "wires": [
                    {
                        "id": "444cddb4.cf831c"
                    },
                    {
                        "id": "5615d621.609a38"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 420,
                "y": 100,
                "wires": [
                    {
                        "id": "444cddb4.cf831c",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "a217156f.04f43",
        "type": "subflow",
        "name": "Check",
        "info": "",
        "in": [
            {
                "x": 40,
                "y": 100,
                "wires": [
                    {
                        "id": "47738360.dc4c7c"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1060,
                "y": 100,
                "wires": [
                    {
                        "id": "63de47e9.09e238",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "63a26dbc.689a2c",
        "type": "nodebot",
        "z": "a217156f.04f43",
        "name": "",
        "username": "",
        "password": "",
        "boardType": "raspi-io",
        "serialportName": "",
        "connectionType": "local",
        "mqttServer": "",
        "socketServer": "",
        "pubTopic": "",
        "subTopic": "",
        "tcpHost": "",
        "tcpPort": "",
        "sparkId": "",
        "sparkToken": "",
        "beanId": "",
        "impId": "",
        "meshbluServer": "https://meshblu.octoblu.com",
        "uuid": "",
        "token": "",
        "sendUuid": ""
    },
    {
        "id": "444cddb4.cf831c",
        "type": "template",
        "z": "16b15426.58db74",
        "name": "Say",
        "field": "payload.response",
        "fieldType": "msg",
        "format": "text",
        "syntax": "plain",
        "template": "Your message is posted!",
        "output": "str",
        "x": 230,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "9e26dc7a.1a68a8",
        "type": "template",
        "z": "a217156f.04f43",
        "name": "say failed",
        "field": "payload.response",
        "fieldType": "msg",
        "format": "text",
        "syntax": "plain",
        "template": "Check as failed",
        "output": "str",
        "x": 680,
        "y": 40,
        "wires": [
            [
                "63de47e9.09e238"
            ]
        ]
    },
    {
        "id": "6aca8f3c.de5ab",
        "type": "http in",
        "z": "e18d07da.37f768",
        "name": "",
        "url": "/jarvis",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 240,
        "wires": [
            [
                "d077276f.9e133",
                "bb19ef4c.bb6068"
            ]
        ]
    },
    {
        "id": "d077276f.9e133",
        "type": "switch",
        "z": "e18d07da.37f768",
        "name": "Commands",
        "property": "payload.order",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "(send)",
                "vt": "str",
                "case": true
            },
            {
                "t": "regex",
                "v": "(check)",
                "vt": "str",
                "case": true
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "outputs": 3,
        "x": 360,
        "y": 240,
        "wires": [
            [
                "e6402cdd.748c88"
            ],
            [
                "d1b2f2d1.8d9db8"
            ],
            [
                "c48ef562.730f78"
            ]
        ]
    },
    {
        "id": "c48ef562.730f78",
        "type": "http response",
        "z": "e18d07da.37f768",
        "name": "unknow command",
        "statusCode": "404",
        "headers": {},
        "x": 610,
        "y": 360,
        "wires": []
    },
    {
        "id": "bb19ef4c.bb6068",
        "type": "debug",
        "z": "e18d07da.37f768",
        "name": "Debug payload",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 370,
        "y": 100,
        "wires": []
    },
    {
        "id": "e6402cdd.748c88",
        "type": "subflow:16b15426.58db74",
        "z": "e18d07da.37f768",
        "name": "",
        "x": 580,
        "y": 200,
        "wires": [
            [
                "91d56917.ca098"
            ]
        ]
    },
    {
        "id": "d1b2f2d1.8d9db8",
        "type": "subflow:a217156f.04f43",
        "z": "e18d07da.37f768",
        "name": "",
        "x": 570,
        "y": 280,
        "wires": [
            [
                "91d56917.ca098"
            ]
        ]
    },
    {
        "id": "5615d621.609a38",
        "type": "template",
        "z": "16b15426.58db74",
        "name": "Echo",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "This is the payload: {{payload}} !",
        "x": 230,
        "y": 180,
        "wires": [
            [
                "a036c0e8.620f5"
            ]
        ]
    },
    {
        "id": "a036c0e8.620f5",
        "type": "hangouts-out",
        "z": "16b15426.58db74",
        "config": "",
        "name": "",
        "conversationId": "",
        "x": 460,
        "y": 180,
        "wires": []
    },
    {
        "id": "47738360.dc4c7c",
        "type": "http request",
        "z": "a217156f.04f43",
        "name": "Nodered site check",
        "method": "GET",
        "url": "http://nodered.org",
        "tls": "",
        "x": 210,
        "y": 100,
        "wires": [
            [
                "6f22a5fa.7b04ec"
            ]
        ]
    },
    {
        "id": "6f22a5fa.7b04ec",
        "type": "function",
        "z": "a217156f.04f43",
        "name": "String check",
        "func": "if(msg.statusCode !== 200) {\n    msg.payload = {order: \"toto\", language: \"en\"};\n    return [msg, null];\n}\nmsg.payload = {order: \"toto\", language: \"en\"};\nreturn [null, msg];",
        "outputs": "2",
        "noerr": 0,
        "x": 445.5,
        "y": 101.25,
        "wires": [
            [
                "9e26dc7a.1a68a8"
            ],
            [
                "d3f994e4.1c05e8"
            ]
        ]
    },
    {
        "id": "d3f994e4.1c05e8",
        "type": "template",
        "z": "a217156f.04f43",
        "name": "say succes",
        "field": "payload.response",
        "fieldType": "msg",
        "format": "text",
        "syntax": "plain",
        "template": "Check is successfuly",
        "output": "str",
        "x": 690,
        "y": 160,
        "wires": [
            [
                "63de47e9.09e238"
            ]
        ]
    },
    {
        "id": "f433ec17.3358d",
        "type": "debug",
        "z": "a217156f.04f43",
        "name": "say failed",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 1100,
        "y": 220,
        "wires": []
    },
    {
        "id": "63de47e9.09e238",
        "type": "json",
        "z": "a217156f.04f43",
        "name": "",
        "pretty": false,
        "x": 910,
        "y": 100,
        "wires": [
            [
                "f433ec17.3358d"
            ]
        ]
    },
    {
        "id": "91d56917.ca098",
        "type": "http response",
        "z": "e18d07da.37f768",
        "name": "response to jarvis",
        "statusCode": "200",
        "headers": {},
        "x": 950,
        "y": 240,
        "wires": []
    }
]